<div class="container">

    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center">Create Story</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <mat-horizontal-stepper #stepper linear>
                <mat-step [stepControl]="firstFormGroup">
                    <ng-template matStepLabel>Contact Details</ng-template>
                    <div class="form-group">
                        <div class="alert alert-info form-text text-muted">
                            <strong>Info!</strong> You will be emailed a link to manage your story and stay notified on updates / branches to your story.
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Email address</label>
                        <input [(ngModel)]="contactEmail" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input type="checkbox" class="form-check-input">
                            Keep me Notified
                        </label>
                    </div>
                    <div class="row">
                        <div class="col-md-4 offset-md-8">
                            <button type="submit" class="btn btn-primary" style="width: 100%" (click)="validateContact(stepper)">Continue</button>
                        </div>
                    </div>
                </mat-step>
                <mat-step [stepControl]="detailsFormGroup">
                    <ng-template matStepLabel>Describe your Story</ng-template>
                    <div class="form-group">
                        <label for="storyTitle">Title</label>
                        <input [(ngModel)]="title" type="email" class="form-control" id="storyTitle" aria-describedby="titleHelp" placeholder="Enter a title">
                        <small id="titleHelp" class="form-text text-muted">Enter a descriptive and enticing story name.</small>
                    </div>
                    <div class="form-group">
                        <label for="storySummary">Summary</label>
                        <textarea [(ngModel)]="summary" class="form-control" id="storyTitle" aria-describedby="titleHelp" placeholder="Enter a summary" rows="5"></textarea>
                        <small id="titleHelp" class="form-text text-muted">Enter a summary of the over-all plot.</small>
                    </div>
                    <div class="form-group">
                        <label for="genre">Genre</label>
                        <select [(ngModel)]="genre" class="form-control">
                            <option>Mystery</option>
                            <option>Adventure</option>
                            <option>Comedy</option>
                            <option>Drama</option>
                            <option>Horror</option>
                        </select>
                        <small id="genreHelp" class="form-text text-muted">Select the most appropriate genre for this story.</small>
                    </div>
                    <div class="row">
                        <div class="col-md-4 offset-md-8">
                            <button type="submit" class="btn btn-primary" style="width: 100%" (click)="validateDescription(stepper)">Continue</button>
                        </div>
                    </div>
                </mat-step>
                <mat-step [stepControl]="secondFormGroup">
                    <ng-template matStepLabel>Write a Paragraph</ng-template>
                    <div class="form-group">
                        <label for="firstParagraph">Page One</label>
                        <textarea [(ngModel)]="paragraph" class="form-control" id="firstParagraph" aria-describedby="firstParagraphHelp" placeholder="Start your story here..." rows="8"></textarea>
                        <small id="firstParagraphHelp" class="form-text text-muted">Enter the first paragraph of this story, others can expand onto this story.</small>
                    </div>
                    <div class="row">
                        <div class="col-md-4 offset-md-8">
                            <button type="submit" class="btn btn-primary" style="width: 100%" (click)="validateParagraph(stepper)">Continue</button>
                        </div>
                    </div>
                </mat-step>
                <mat-step>
                    <ng-template matStepLabel>Publish</ng-template>
                    <div class="row form-group">
                        <div class="col-md-12">
                            <h3 class="text-center">You've Been Published!</h3>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-8 offset-md-2">
                            <div class="text-center text-muted">This story is ready to be published. Once it has been published, otherwise will be free to see the story and contribute to it by branching off of it to develop it further.</div>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-4 offset-md-4">
                            <button (click)="publishStory()" type="submit" class="btn btn-primary" style="width: 100%" matStepperNext>Publish!</button>
                        </div>
                    </div>
                </mat-step>
            </mat-horizontal-stepper>
        </div>
    </div>
</div>