<div class="container">

    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center">The Next Chapter</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="alert alert-danger" *ngIf="errorDescription.length > 0">
                <strong>Error:</strong> {{errorDescription}}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <mat-horizontal-stepper #stepper linear>
                <mat-step [stepControl]="firstFormGroup">
                    <ng-template matStepLabel>Contact Details</ng-template>
                    <div class="form-group">
                        <div class="alert alert-info form-text text-muted">
                            <strong>Info!</strong> You will be emailed a link to manage your story and stay notified on updates / branches to your story.
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Email address</label>
                        <input [(ngModel)]="contactEmail" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input type="checkbox" class="form-check-input">
                            Keep me Notified
                        </label>
                    </div>
                    <div class="row">
                        <div class="col-md-4 offset-md-8">
                            <button type="submit" class="btn btn-primary" style="width: 100%" (click)="validateContact(stepper)">Continue</button>
                        </div>
                    </div>
                </mat-step>
                <mat-step [stepControl]="secondFormGroup">
                    <ng-template matStepLabel>Write a Page</ng-template>
                    <div class="form-group">
                        <label for="title">Title</label>
                        <input [value]="parentStory.title" class="form-control" id="title" aria-describedby="emailHelp" disabled>
                    </div>
                    <div class="form-group">
                        <label for="firstParagraph">New Page</label>
                        <textarea [(ngModel)]="paragraph" class="form-control" id="firstParagraph" aria-describedby="firstParagraphHelp" placeholder="Start your story here..." rows="8"></textarea>
                        <small id="firstParagraphHelp" class="form-text text-muted">Enter the first paragraph of this story, others can expand onto this story.</small>
                    </div>
                    <div class="row">
                        <div class="col-md-4 offset-md-8">
                            <button type="submit" class="btn btn-primary" style="width: 100%" (click)="validateParagraph(stepper)">Continue</button>
                        </div>
                    </div>
                </mat-step>
                <mat-step>
                    <ng-template matStepLabel>Publish</ng-template>
                    <div class="row form-group">
                        <div class="col-md-12">
                            <h3 class="text-center">You've Been Published!</h3>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-8 offset-md-2">
                            <div class="text-center text-muted">This story is ready to be published. Once it has been published, otherwise will be free to see the story and contribute to it by branching off of it to develop it further.</div>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-4 offset-md-4">
                            <button (click)="publishStory(stepper)" type="submit" class="btn btn-primary" style="width: 100%" matStepperNext>Publish!</button>
                        </div>
                    </div>
                </mat-step>
            </mat-horizontal-stepper>
        </div>
    </div>
</div>