<div>
    <mat-grid-list cols="8" >
        <mat-grid-tile colspan="7"><h1>Stories Board</h1></mat-grid-tile>
        <mat-grid-tile><button mat-button><mat-icon>add</mat-icon></button></mat-grid-tile>
    </mat-grid-list>

    <mat-card class="entry">
        <mat-grid-list cols="8" rowHeight="6:1">
            <mat-grid-tile>
                <mat-icon>keyboard_arrow_up</mat-icon>
                <mat-icon>keyboard_arrow_down</mat-icon>
            </mat-grid-tile>
            <mat-grid-tile>Image</mat-grid-tile>
            <mat-grid-tile colspan="6">Adventure Story</mat-grid-tile>
        </mat-grid-list>
    </mat-card>
    
    
    <mat-card class="entry">
        <mat-grid-list cols="8" rowHeight="6:1">
            <mat-grid-tile>
                <mat-icon>keyboard_arrow_up</mat-icon>
                <mat-icon>keyboard_arrow_down</mat-icon>
            </mat-grid-tile>
            <mat-grid-tile>Image</mat-grid-tile>
            <mat-grid-tile colspan="6">Adventure Story</mat-grid-tile>
        </mat-grid-list>
    </mat-card>
</div>